@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    color: #fff;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
    text-transform: uppercase;
}

.toggle{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(../video-images/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  filter: invert(1);
}

.toggle.active{
  background: url(../video-images/menu_x.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.showcase{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../video-images/bg.png);
  transition: 0.5s;
  z-index: 2;
}
.showcase.active{
  right: 300px;
}
.expiriance{
    max-width: 500px;
    width: 100%;
    margin: 45px 0;
}
.expiriance h2{
    margin-bottom: 10px;
}
.menu{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul{
  position: relative;
}
.menu ul li{
  list-style: none;
}
.menu ul li a{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover{
  color: #03a9f4; 
}


@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}