@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    color: #fff;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
    text-transform: uppercase;
}
.education {
    margin-top: 40px;
    max-width: 350px;
    width: 100%;
    min-height: 400px;
    z-index: 4;
}
.line {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.certificate {
    max-width: 151px;
    width: 100%;
    min-height: 100px;
}
.certificate p {
    padding: 5px 0;
}
.certificate img {
    width: 150px;
}

.certificate img:hover {
  box-shadow: 1px 1px 10px rgb(197, 198, 255);  
}

.big-img {
  max-width: 600px;
  width: 100%;
  
}

.big-img img {
  width: 600px;
  box-shadow: 1px 1px 10px rgb(197, 198, 255);
}

.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(../video-images/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  filter: invert(1);
}
.toggle.active
{
  background: url(../video-images/menu_x.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 150px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../video-images/educ.png);
  transition: 0.5s;
  z-index: 2;
}

.showcase.active
{
  right: 300px;
}

.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #03a9f4; 
}


@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}